.generate-projects-screen {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
}

.generate-projects-inputs-box {
    flex: 1;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .75rem;
    border-radius: 8px;
    
}

.generate-projects-inputs-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    flex: 1;
    overflow-y: auto;
    padding: 0 1rem 0 0.05rem;
}

.generate-projects-outputs-box {
    flex: 3;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .75rem;
    border-radius: 8px;
    overflow-y: auto;
}

.generate-projects-project-card {
    width: 100%;
    padding: .75rem;
    border-radius: 8px;
    color: #333333;
    font-size: 14px;
    background-color: #F5F5F5 ;
}

