:root {
    --sidebar-padding: 1rem;
}

.sidebar {
    background-color: #F8F8F8; /* Light background */
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-right: 1px solid #DADADA; /* Light border */
    flex-shrink: 0;
}

.sidebar-header {
    padding: 0 var(--sidebar-padding);
    display: flex;
    gap: .5rem;
    align-items: center;
    border-bottom: 1px solid #DADADA;
    padding: 1rem;
}

.sidebar-header img {
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
    aspect-ratio: 1;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem var(--sidebar-padding);
    flex: 1;
    overflow-y: auto;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem var(--sidebar-padding);
    border-top: 1px solid #DADADA;
}

.sidebar-button {
    display: flex;
    gap: 1rem;
    padding: .5rem;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    align-items: center;
    border: none;
}

.sidebar-button:hover {
    background-color: #E0E0E0; /* Light hover color */
}

.sidebar-button svg {
    color: black;
}
