.finish-registration-non-selected-skills {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    width: 100%;
    height: 10rem;
    overflow-y: auto;
    align-items: flex-start;
}

.finish-registration-non-selected-skills div {
    background-color: #252525;
    padding: .75rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.finish-registration-skills-input-container {
    width: 100%;
    position: relative;
}

.finish-registration-skills-input-container button {
    position: absolute;
    left: 0;
    top: calc(100% - 8px);
    cursor: pointer;
    width: 100%;
    background-color: #e2e2e2;
    color: black;
    font-size: 14px;
    text-align: center;
    border: none;
    padding: .5rem;
    border-radius: 0 0 8px 8px;
}

.finish-registration-cv-button {
    background-color: #f2f2f2;
    color: black;
    font-size: 14px;
    padding: .5rem 1rem;
    border-radius: 4px;
    text-align: center;
    width: fit-content;
    border: none;
    align-self: center;
}